docutils==0.16
pywin32==228
aiohttp==3.7.3
brotli==1.0.9
cffi==1.14.3
Cython==0.29.21
gevent==20.9.0
h5py==3.1.0
importlib_resources==3.3.0
ipaddr==2.2.0
keyring==21.5.0
lockfile==0.12.2
lxml==4.6.1
mock==4.0.2
mypy_extensions==0.4.3
numpy==1.19.4
ordereddict==1.1
pathlib2==2.3.5
Pillow==8.0.1
protobuf==3.14.0
pyfakefs==4.2.1
pyOpenSSL==19.1.0
PySide==1.2.4
PySide2==5.15.1
pytest==6.1.2
pyzmq==20.0.0
simplejson==3.17.2
Twisted==20.3.0
typing_extensions==3.7.4.3
wincertstore==0.2
